*{
    color: #265007;
    /* rgb(38,88,119) */
    color: #022140;
    /* rgb(2,33,64) */
    color: #494b68;
    /* rgb(73,75,104) */
    color: #1e4258;
    /* rgb(30,66,88) */
    color: #2d5f5d;
    /* rgb(45,95,93) */
}